* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  padding: 0 16px;
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
}

.intro-chunk {
  padding-top: 32px;
  max-width: 300px;
}

.title {
  padding: 0 16px;
  margin: 0;
}

.intro-chunk p {
  padding-top: 8px;
  padding-bottom: 8px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  height: 100%;
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
}

.card {
  padding-top: 8px;
  margin-top: 64px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  margin: 0;
  margin-left: -16px;
  width: fit-content;
  padding: 16px;
  padding-left: 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
